* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 70%), url(./img/tokyo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

.container {
    display: inline-block;
    width: 100%;
    padding: 50px 30px;
    padding-left: 100px;
}

.logo {
    float: left;
    height: 25px;
}
.top-nav {
    float: right;
    margin-right: 50px;
}
.top-nav > a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.search {
    font-size: 18px;
    background-color: #fff;
    padding: 13px 13px;
    border-radius: 10px;
}

/* MAIN */

.main {
    padding-left: 150px;
}

.main-title {
    font-size: 182px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
}
.main-description {
    font-size: 42px;
    font-weight: bold;
    color: #fff; 
    line-height: 1;  
    padding-left: 15px;
}


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 80px;
    color: #fff;
    display: inline-block;
}

.footer-title {
    font-size: 28px;
}
.footer-date {
    line-height: 2;
}
.title-date {
    border-right: 2px solid #fff;
    padding-right: 25px;
    margin-right: 25px;
}
.title-date, .text {
    display: inline-block;
}
.social-links {
    float: right;
    margin-top: 22px;
}
.social-links > a {
    color: #fff;
    font-size: 18px;
    margin-right: 25px;
}
.social-links > a:last-child {
    color: #fff;
    font-size: 18px;
    margin-right: 200px;
}
